<a href="#" ng-click="$ctrl.directoryBack()">Back</a>
<p>Enter filename for search:</p>
<input type="text" ng-model="$ctrl.search.fileName">
<table class="table">
    <thead>
    <tr>
        <th ng-click="$ctrl.sort('fileName')">Filename</th>
        <th ng-click="$ctrl.sort('contentType')">Type</th>
        <th ng-click="$ctrl.sort('creationDate')">Creation date</th>
        <th ng-click="$ctrl.sort('modificationDate')">Modification date</th>
        <th ng-click="$ctrl.sort('fileSize')">Size</th>
        <!--TODO: get user role from server-->
        <th ng-show="$ctrl.isLoggedUserAdmin()">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="file in $ctrl.files
            | orderBy : ['-directory', $ctrl.sortField]
            | filter : $ctrl.search">
        <td><a ng-click="$ctrl.updateFiles(file)">{{file.fileName}}</a></td>
        <td>{{file.contentType}}</td>
        <td>{{file.creationDate | date}}</td>
        <td>{{file.modificationDate | date}}</td>
        <td>{{file.fileSize}} KB</td>
        <!--TODO: get user role from server-->
        <td ng-show="$ctrl.isLoggedUserAdmin()">
            <button class="btn btn-danger" ng-click="$ctrl.deleteFile(file)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<div ng-show="$ctrl.isLoggedUserAdmin()">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Create directory</div>
            <div class="panel-body">
                <p>Enter new directory name:</p>
                <input type="text" ng-model="$ctrl.newDirectoryName">
                <button class="btn btn-success" ng-click="$ctrl.createDirectory()">Create</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Upload file</div>
            <div class="panel-body">
                <form action="/training/admin/addFile" method="post" enctype="multipart/form-data">
                    <p>Choose file:</p>
                    <input type="file" name="file">
                    <input type="hidden" name="path" ng-value="$ctrl.formPath()">
                    <input type="submit" class="btn">
                </form>
            </div>
        </div>
    </div>
</div>